In [0]:
df_customer= spark.table("jpm.achal_silver.silver_customer")
df_tran=spark.table("jpm.achal_silver.silver_transaction")

In [0]:
%python
df_joined = df_customer.join(
    df_tran, 
    df_customer.cust_id == df_tran.cust_id, 
    "inner"
).select(
    df_customer.cust_id,
    'name',
    'age',
    'gender',
    'birthday',
    'zip',
    df_customer.city,
    'start_date',
    'end_date',
    'txn_id',
    'date',
    'year',
    'month',
    'day',
    'expense_type',
    'amt'
)

In [0]:
#df_joined.columns

In [0]:
df_joined.createOrReplaceTempView("silver_joined")

In [0]:
%sql
create or replace table jpm.achal_gold.all_records as 
select * from silver_joined

In [0]:
%sql
create or replace view jpm.achal_gold.city_totals as 
select city, sum(amt) as total_sum from jpm.achal_gold.all_records group by all

In [0]:
%sql
select * from jpm.achal_gold.city_totals

In [0]:
%sql
create or replace view jpm.achal_gold.cust_name_rank as
select name, city, RANK() OVER (partition by city ORDER BY SUM(amt) DESC) AS rank from jpm.achal_gold.all_records group by name, city

In [0]:
%sql
select * from jpm.achal_gold.cust_name_rank