In [0]:
%sql
select * from jpm.achal_bronze.customers_bronze limit 5

In [0]:
%sql
CREATE OR REPLACE TABLE jpm.achal_silver.silver_customer AS
SELECT
    cust_id,
    name,
    CAST(age AS INT) AS age,
    gender,
    to_date(birthday, 'yyyy') AS birthday_year,
    cast(zip as int) as zip,
    REPLACE(city, '_', ' ') AS city
FROM jpm.achal_bronze.customers_bronze;

In [0]:
%sql
CREATE OR REPLACE TABLE jpm.achal_silver.silver_transaction AS
SELECT DISTINCT
    cust_id,
    start_date,
    end_date,
    txn_id,
    date,
    year,
    month,
    day,
    expense_type,
    CAST(amt AS DECIMAL(10,2)) AS amt,
    REPLACE(city, '_', ' ') AS city
FROM jpm.achal_bronze.transactions_bronze;