In [0]:
df=spark.read.csv("/Volumes/llm/raw/csv",header=True,inferSchema=True)

In [0]:
%sql
use catalog jpm;
create schema if not exists naval;
use schema naval;

In [0]:
df=spark.read.csv("/Volumes/jpm/naval/csv/1000_richest_people_in_the_world.csv",header=True,inferSchema=True)

df1=df.withColumnRenamed("Name","name")\
    .withColumnRenamed("Net Worth (in billions)","net_worth_in_billion")


df1.write.mode("overwrite").saveAsTable("jpm.naval.richest_people")

In [0]:
%sql
select * from jpm.naval.richest_people

#####Transformation

In [0]:
%sql
-- select c1 as c_1,c2 from table

In [0]:
#df1=df.select("Name")

In [0]:
#df.select("Name".alias("name"))

In [0]:
from pyspark.sql.functions import col

In [0]:
#df.select(col("Name").alias("name")).display()

In [0]:
df1=df.withColumnRenamed("Name","name").withColumnRenamed("Net Worth (in billions)","net_worth_in_billion")

In [0]:
df1.display()

In [0]:
%sql
use catalog jpm;
create schema if not exists achal;
use schema achal;

In [0]:
df1.write.saveAsTable("jpm.achal.richest_people")

In [0]:
%sql
select * from jpm.achal.richest_people