In [0]:
%sql
--Create the sales_raw table
CREATE TABLE jpm.achal.sales_raw (
  user_id STRING,
  email STRING,
  country STRING,
  product STRING,
  total DOUBLE
);

-- Insert 10 records into the sales_raw table
INSERT INTO jpm.achal.sales_raw VALUES
('1', 'user1@example.com', 'USA', 'ProductA', 100.0),
('2', 'user2@example.com', 'Canada', 'ProductB', 150.0),
('3', 'user3@example.com', 'UK', 'ProductC', 200.0),
('4', 'user4@example.com', 'Germany', 'ProductD', 250.0),
('5', 'user5@example.com', 'France', 'ProductE', 300.0),
('6', 'user6@example.com', 'Italy', 'ProductF', 350.0),
('7', 'user7@example.com', 'Spain', 'ProductG', 400.0),
('8', 'user8@example.com', 'Australia', 'ProductH', 450.0),
('9', 'user9@example.com', 'India', 'ProductI', 500.0),
('10', 'user10@example.com', 'Japan', 'ProductJ', 550.0);

In [0]:
-- Create the sales_raw table
CREATE TABLE jpm.default.sales_raw (
  user_id STRING,
  email STRING,
  country STRING,
  product STRING,
  total DOUBLE
);

-- Insert 10 records into the sales_raw table
INSERT INTO jpm.default.sales_raw VALUES
('1', 'user1@example.com', 'USA', 'ProductA', 100.0),
('2', 'user2@example.com', 'Canada', 'ProductB', 150.0),
('3', 'user3@example.com', 'UK', 'ProductC', 200.0),
('4', 'user4@example.com', 'Germany', 'ProductD', 250.0),
('5', 'user5@example.com', 'France', 'ProductE', 300.0),
('6', 'user6@example.com', 'Italy', 'ProductF', 350.0),
('7', 'user7@example.com', 'Spain', 'ProductG', 400.0),
('8', 'user8@example.com', 'Australia', 'ProductH', 450.0),
('9', 'user9@example.com', 'India', 'ProductI', 500.0),
('10', 'user10@example.com', 'Japan', 'ProductJ', 550.0);

In [0]:
create or replace view jpm.default.sales_view as select * from jpm.default.sales_raw

In [0]:
select * from jpm.default.sales_view

In [0]:
-- Alias the field 'email' to itself (as 'email') to prevent the
-- permission logic from showing up directly in the column name results.
CREATE or replace VIEW jpm.default.sales_redacted AS
SELECT
  user_id,
  CASE WHEN
    is_account_group_member('jpm_banglore') THEN 'REDACTED'
    ELSE email
  END AS email,
  country,
  product,
  total
FROM jpm.default.sales_view

In [0]:
select * from jpm.default.sales_redacted

In [0]:
CREATE or replace VIEW jpm.default.sales_view_india AS
SELECT
  user_id,
  email,
  product,
  country,
  total
FROM jpm.default.sales_view
WHERE
  CASE
    WHEN is_account_group_member('jpm_banglore') THEN country='India'
    ELSE TRUE
  END;

In [0]:
select * from jpm.default.sales_view_india

In [0]:
-- The regexp_extract function takes an email address such as
-- user.x.lastname@example.com and extracts 'example', allowing
-- analysts to query the domain name.

CREATE or replace VIEW jpm.default.sales_email AS
SELECT
  user_id,
  CASE
    WHEN is_account_group_member('jpm_banglore') THEN regexp_extract(email, '^.*@(.*)$', 1)
    ELSE email
  END as email,
  country,
  product
  FROM jpm.default.sales_view

In [0]:
select * from jpm.achal_gold.all_records

In [0]:
CREATE or replace FUNCTION jpm.achal_gold.message(amt DOUBLE)
RETURNS STRING
RETURN CONCAT('The value ', amt, ' is for ',round( amt * 0.10), 'discount')

In [0]:
CREATE or replace FUNCTION jpm.achal_gold.message(amt DOUBLE)
RETURNS STRING
RETURN CASE WHEN amt > 100 THEN "High"
            WHEN amt > 50 THEN "Medium"
            ELSE "Low" END;

In [0]:
select *,jpm.achal_gold.message(amt) as message from jpm.achal_gold.all_records

In [0]:
select *,jpm.achal_gold.message(amt) as message from jpm.achal_gold.all_records

In [0]:
CREATE or replace FUNCTION jpm.achal_gold.message(amt DOUBLE)
RETURNS STRING
RETURN CONCAT('The value ', amt, ' is for ',round( amt * 0.10), 'discount')

In [0]:
create or replace view jpm.achal.sales_view as select * from jpm.achal.sales_raw

In [0]:
select * from jpm.default.sales_view

In [0]:
-- Alias the field 'email' to itself (as 'email') to prevent the
-- permission logic from showing up directly in the column name results.
CREATE or replace VIEW jpm.default.sales_redacted AS
SELECT
  user_id,
  CASE WHEN
    is_account_group_member('jpm_mumbai') THEN 'REDACTED'
    ELSE email
  END AS email,
  country,
  product,
  total
FROM jpm.default.sales_view